/*prawa i lewa strona menu */
.bar-main-menu {
    background-color: #1a084e;
    ;
    height: 100vh;
    width: 20vw;
    position: fixed;
    top: 0;
    z-index: 3;

}


.left-bar-main-menu {
    left: 0;
    clip-path: polygon(0 0,
            /* Górny lewy róg */
            100% 0,
            /* Górny prawy róg */
            75% 50%,
            /* Wcięcie w środku (po prawej) */
            100% 100%,
            /* Dolny prawy róg */
            0 100%
            /* Dolny lewy róg */
        );
}

.right-bar-main-menu {
    right: 0;
    clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            0% 100%,
            25% 50%,
            0% 0%);
}

/*ramki-menu*/

.borrder-menu {
    position: fixed;
    z-index: 2.5;

    height: 50.05vh;
    width: 4px;

    border-right: 2px solid white;
    transform-origin: top;
}

.right-borrder-menu-top {
    top: 0;
    left: 20.1vw;
    transform: skew(-11deg);
}

.right-borrder-menu-bottom {
    bottom: 0;
    left: 20.1vw;
    transform: skew(11deg);
    transform-origin: bottom right;
}

.left-borrder-menu-top {
    top: 0;
    right: 20.2vw;
    transform: skew(11deg);
}

.left-borrder-menu-bottom {
    bottom: 0;
    right: 20.2vw;
    transform: skew(-11deg);
    transform-origin: bottom right;
}

.borrder-menu::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 6px;
    background: #ad15f3;
    top: 0;
    z-index: -1;
    filter: blur(8px);
    pointer-events: none;
}

.right-borrder-menu-top::after {
    left: 100%;
}

.right-borrder-menu-bottom::after {
    left: 100%;
}

.left-bar-main-menu::after {
    right: 100%;
}

.left-bar-main-menu::after {
    right: 100%;
}

/*elementy menu lewa strona*/

.app-title-main {
    font-family: 'Orbitron', sans-serif;
    font-size: 5vh;
    margin-top: 2vh;
    margin-left: 0.7vw;
    color: white;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4vh;
    margin-right: 4.5vw;

}

.profile-picture {
    height: 12vh;
    width: 12vh;
}

.user-name {
    font-family: 'Orbitron', sans-serif;
    margin-top: 1vh;
    font-size: 1.8vh;
    color: white;
}

.button-container-main-menu {
    margin-top: 9vh;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin-left: 2vw;
}

.button-main-menu {

    background-color: #1a084e;
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 1.9vh;
    text-align: left;

    margin-top: 1.5vh;
    padding: 0.6vh 0.6vw;
    padding-left: 1vw;
    width: 12vw;

    border: 0.2vh solid hsla(0, 0%, 80%, 0.87);
    border-radius: 0.6vh;
    cursor: pointer;
    box-shadow: none;
}

.button-main-menu:hover {
    background-color: #ad15f3;
    border: 2px solid hsla(0, 0%, 100%);
}

.material-icons {
    margin-right: 0.3vw;
    font-size: 2vh;
    vertical-align: text-bottom;
}

.button-log-out {
    background-color: #ad15f3;
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 1.3vh;
    text-align: center;

    margin-top: 27vh;
    margin-left: 4vw;
    padding: 8px 10px;
    width: 7vw;

    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: none;
}

.button-log-out:hover {
    background-color: #ae05fdc1;
}

/*elementy menu prawa strona*/

.streak-main-menu-cointener {
    font-family: 'Lato', sans-serif;
    /*font-family: 'Orbitron', sans-serif;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.5vw;
    /*gap: 75px;*/
    font-size: 2vh;
    padding-top: 2vh;
}

.streak-main-menu {
    font-size: 2vh;
    font-weight: bolder;
    color: #FB773C;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.fire {
    width: 1.5vh;
    height: 2vh;
}

.spaceship-main-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12vh;
    margin-left: 4vw;

}

.space-ship {
    height: 33vh;
    width: 9vw;
    margin-bottom: 3vh;
}


.icon-heart-full {
    color: #FF4C8B !important;
    font-size: 3vh !important;
}

.icon-heart-empty {
    color: #FF4C8B !important;
    font-size: 3vh !important;
}

.progress-container {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    color: #2bf8d6;
    font-size: larger;
    margin-bottom: 1vh;
    margin-top: 1.5vh;
}

.progress-bar {
    display: flex;
    justify-content: right;
    align-items: right;
    height: 2.5vh;
    width: 7vw;
    border: 3px solid #2bf8d6;
    background-color: #2bf8d652;
    border-radius: 0.7vh;
}

.progress-filled {
    height: 2.05vh;
    width: 3vw;
    background: linear-gradient(90deg, #2bf8d6, #ae05fdc1);
    border-top-left-radius: 0.7vh;
    border-bottom-left-radius: 0.7vh;
}

/* środek menu */

.main-content-contener {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
    font-size: 3vh;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.main-content-arrow {
    background-color: white;
    width: 7vh;
    height: 7vh;
}

.main-content-up-arrow {
    clip-path: polygon(0% 50%,
            50% 0%,
            100% 50%,
            80% 50%,
            50% 20%,
            20% 50%,
            0% 50%);
}

.main-content-section {
    margin-top: 2vh;
}

.main-content-galactic {
    width: 40vw;
    height: 80vh;
    margin-top: -5vh;
    margin-bottom: -5vh;

}

.main-content-number {
    margin-top: -7.5vh;
    margin-bottom: 7.5vh;
    font-size: 3.4vh;
}

.main-content-down-arrow {
    clip-path: polygon(0% 50%,
            50% 100%,
            100% 50%,
            80% 50%,
            50% 80%,
            20% 50%,
            100% 50%);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/*znajomi*/

.list-of-friends-container {
    height: 90vh;
    width: 45vw;
    background-color: hsla(276, 85%, 36%, 0.241);
    border: solid 0.2vh rgba(255, 255, 255, 0.897);
    border-radius: 2.5vh;
    box-shadow: 0.2vh 0.2vh 2vh rgba(255, 255, 255, 0.216);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 2vh;
    padding-left: 2vw;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding-right: 2.2vw;

}

.header-list-of-friends {
    font-size: 3vh;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.liczba-znaj {
    font-size: 1.6vh;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.friends-container {
    height: 59vh;
    width: 40vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1.3vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    padding-left: 0.5vw;

}

.friends-container {
    overflow-y: scroll;
    scrollbar-width: none;
}

.one-friend-container {
    background-color: rgba(255, 255, 255, 0.226);
    min-height: 7vh;
    width: 100%;
    box-sizing: border-box;
    border: 0.2vh solid white;
    border-radius: 1vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.one-friend-profile-picture {
    height: 5.2vh;
    width: 5.2vh;
    margin-left: 0.8vw;
}

.friend-userName {
    font-size: 1.9vh;
    margin-right: 17.3vw;
}

.frind-rocket {
    height: 5.8vh;
    width: 2.9vh;
    transform: rotate(30deg);
    margin-right: 1vw;
    margin-left: 2vw;
}

.firnds-onfo-container {
    font-size: 1.5vh;
    gap: 1.2vh;
    margin-right: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.friend-level {
    color: #2bf8d6;
}



.friend-streak-conainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 0.2vw;
}

.friend-streak {
    color: #FB773C
}

.fire-friend{
    width: 1vh;
    height: 1.5vh;
}


.search-friends {
    margin-top: 2vh;
    height: 3.5vh;
    width: 17.7vw;

    border: 0.15vh solid white;
    border-radius: 1.1vh;
    background-color: rgba(255, 255, 255, 0.101);
    color: white;
}

.searched-friend-container {
    height: 8vh;
    width: 40vw;
    margin-top: 2vh;
    padding: 0;
    padding-left: 0.5vw;
}