.App {
  font-family: sans-serif;
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

body {
  background-color: black;
  color: aliceblue;
}
